data1.py
karaage_main.py.1~
sample_main.py
__pycache__
__pycache__/battle.cpython-39.pyc
__pycache__/battle.cpython-310.pyc
__pycache__/data_pg.cpython-310.pyc
__pycache__/data.cpython-39.pyc
__pycache__/data.cpython-310.pyc
__pycache__/karaage_main.cpython-310.pyc
__pycache__/shop.cpython-310.pyc
__pycache__/util.cpython-39.pyc
__pycache__/util.cpython-310.pyc
